<% content_for(:title, t('.title')) %>
<div class="max-w-4xl mx-auto p-4">
  <!-- アカウント設定（タイトル） -->
  <h2 class="text-xl font-bold text-center"><%= t('.title') %></h2>
  <!-- 個人情報設定 -->
  <h3 class="text-xl font-bold border-b-2 pb-1 mt-3">
    <%= t(".personal_information_setting") %>
  </h3>
  <dl class="my-3 divide-y divide-gray-400">
    <!-- メールアドレス変更 -->
    <div class="grid grid-cols-1 py-3 sm:grid-cols-3">
      <dt class="font-bold"><%= t(".change_email") %></dt>
      <dd class="text-gray-700 sm:col-span-2"><%= link_to t('.change'), edit_email_account_setting_path, class: "text-blue-500 hover:underline font-medium"%></dd>
    </div>
    <!-- パスワード変更 -->
    <div class="grid grid-cols-1 py-3 sm:grid-cols-3">
      <dt class="font-bold"><%= t(".change_password") %></dt>
      <dd class="text-gray-700 sm:col-span-2"><%= link_to t('.change'), '#', class: "text-blue-500 hover:underline font-medium"%></dd>
    </div>
  </dl>
  <!-- 通知設定 -->
  <h3 class="text-xl font-bold border-b-2 pb-1 mt-12">
    <%= t(".notification_setting") %>
  </h3>
  <dl class="my-3 divide-y divide-gray-400">
    <!-- メール通知 -->
    <div class="grid grid-cols-1 py-3 sm:grid-cols-3">
      <dt class="font-bold"><%= t(".email_notification") %></dt>
      <!-- ↓はセレクトボックスの予定 -->
      <dd class="text-gray-700 sm:col-span-2"><%= '通知なし' %></dd>
    </div>
  </dl>
  <div class="max-w-sm mx-auto flex flex-col">
    <!-- 戻るボタン -->
    <%= link_to t(".back"), figures_path,
        class: "mt-3 mb-10 px-18 py-2 text-center rounded-lg bg-gray-500 text-white font-semibold hover:bg-gray-600 transition" %>
  </div>
</div>
