<div class="w-full rounded-lg border border-gray-500 px-3 py-2 hover:border-gray-400">
  <div class="flex justify-between">
    <div>
    2026年12月販売予定
    </div>
    <div>
    未払い
    </div>
    </div>
    <div class="font-bold">
    ねんどろいど シロコ＊テラー (フィギュア)
    </div>
    <div>
    ￥6,000 × 3個 ⇒ ￥18,000
  </div>
</div>
<div class="w-full rounded-lg border border-gray-500 px-3 py-2 hover:border-gray-400">
  <div class="flex justify-between">
    <div>
      <%= l(figure.release_month, format: :default) %>
      <%= t("defaults.scheduled_for_release") %>
    </div>
    <div>
      <%= t("activerecord.enums.figure.payment_status.#{figure.payment_status}") %>
      <%= figure.payment_status %>
    </div>
  </div>
  <div class="font-bold">
    <%= link_to figure.name, '#' %>
  </div>
  <div>
    ￥6,000 × 3個 ⇒ ￥18,000
  </div>
</div>