<%= form_with model: figure do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="flex flex-col gap-3">
    <!-- 商品名 -->
    <div>
      <%= f.label :name, class: "font-bold" %>
      <%= f.text_field :name,
            autofocus: true ,
            class: "w-full rounded-lg border border-gray-500 p-2 hover:border-gray-400" %>
    </div>
    <!-- 発売月 -->
    <div>
      <%= f.label :release_month, class: "font-bold"  %>
      <%= f.month_field :release_month,
            class: "w-full rounded-lg border border-gray-500 p-2 hover:border-gray-400" %>
    </div>
    <!-- 個数 -->
    <div>
      <%= f.label :quantity, class: "font-bold"  %>
      <%= f.number_field :quantity, min: 1,
            class: "w-full rounded-lg border border-gray-500 p-2 hover:border-gray-400" %>
    </div>
    <!-- 金額 -->
    <div>
      <%= f.label :price, class: "font-bold"  %>
      <%= f.number_field :price, min: 1,
            class: "w-full rounded-lg border border-gray-500 p-2 hover:border-gray-400" %>
    </div>
    <!-- 支払いステータス -->
    <div>
      <%= f.label :payment_status, class: "font-bold"  %>
      <%= f.select :payment_status, Figure.payment_statuses_i18n.map { |k, v| [v, k] },
          {}, class: "mb-3 w-full rounded-lg border border-gray-500 p-2 hover:border-gray-400" %>
    </div>
    <!-- 詳細情報を入力（任意）ディスクロージャー -->
    <!-- <details <%= "open" if @figure.optional_fields_filled? %> class="flex flex-col gap-3 group">-->
    <%= tag.details open: (@figure.optional_fields_filled?), class: "flex flex-col gap-3 group" do %>
      <summary class="cursor-pointer text-sm text-gray-700 flex items-center gap-2">
        <span class="flex-1 border-t border-solid border-gray-300"></span>
        <span class="group-open:hidden">＋</span>
        <span class="hidden group-open:inline">−</span>
          <%= t("defaults.optional_details") %>
        <span class="flex-1 border-t border-solid border-gray-300"></span>
      </summary>
      <div class="flex flex-col gap-3">
        <!-- サイズ -->
        <%= f.label :size, class: "font-bold"  %>
        <div class="flex gap-4">
          <!-- サイズ種別 -->
          <div class="w-full">
              <%= f.label :size_type , class: "text-sm" %>
              <%= f.select :size_type, Figure.size_types_i18n.map { |k, v| [v, k] },
                  { include_blank: t("defaults.please_select") },
                  class: "w-full rounded-lg border border-gray-500 p-2 hover:border-gray-400" %>
          </div>
          <!-- サイズ（mm） -->
          <div class="w-full">
              <%= f.label :size_mm, class: "text-sm" %>
              <%= f.number_field :size_mm, min: 1,
                  class: "w-full rounded-lg border border-gray-500 p-2 hover:border-gray-400" %>
          </div>
        </div>
        <!-- 作品名 -->
        <div data-controller="autocomplete" data-autocomplete-url-value="/figures/autocomplete_work" role="combobox">
          <%= f.label :work_name, class: "font-bold"  %>
          <%= f.text_field :work_name,
              data: { autocomplete_target: 'input' },
              class: "w-full rounded-lg border border-gray-500 p-2 hover:border-gray-400" %>
          <%= f.hidden_field :work_id, data: { autocomplete_target: 'hidden' } %>
          <!-- オートコンプリート候補 -->
          <div class="relative flex">
            <ul class="list-group absolute w-full rounded-md border divide-y divide-gray-400 bg-white empty:hidden overflow-hidden"
                data-autocomplete-target="results"></ul>
          </div>
        </div>
        <!-- 予約/購入店舗 -->
        <div data-controller="autocomplete" data-autocomplete-url-value="/figures/autocomplete_shop" role="combobox">
          <%= f.label :shop_name, class: "font-bold"  %>
          <%= f.text_field :shop_name,
              data: { autocomplete_target: 'input' },
              class: "w-full rounded-lg border border-gray-500 p-2 hover:border-gray-400" %>
          <%= f.hidden_field :shop_id, data: { autocomplete_target: 'hidden' } %>
          <!-- オートコンプリート候補 -->
          <div class="relative flex">
            <ul class="list-group absolute w-full rounded-md border divide-y divide-gray-400 bg-white empty:hidden overflow-hidden"
                data-autocomplete-target="results"></ul>
          </div>
        </div>
        <!-- メーカー -->
        <div data-controller="autocomplete" data-autocomplete-url-value="/figures/autocomplete_manufacturer" role="combobox">
          <%= f.label :manufacturer_name, class: "font-bold"  %>
          <%= f.text_field :manufacturer_name,
              data: { autocomplete_target: 'input' },
              class: "w-full rounded-lg border border-gray-500 p-2 hover:border-gray-400" %>
          <%= f.hidden_field :manufacturer_id, data: { autocomplete_target: 'hidden' } %>
          <!-- オートコンプリート候補 -->
          <div class="relative flex">
            <ul class="list-group absolute w-full rounded-md border divide-y divide-gray-400 bg-white empty:hidden overflow-hidden"
                data-autocomplete-target="results"></ul>
          </div>
        </div>
        <!-- 備考 -->
        <div>
          <%= f.label :note, class: "font-bold"  %>
          <%= f.text_area :note,
              class: "w-full rounded-lg border border-gray-500 p-2 hover:border-gray-400" %>
        </div>
      </div>
    <!-- </details> -->
    <% end %>
    <!-- 登録するボタン -->
    <div class="max-w-sm w-full mx-auto flex flex-col">
      <%= f.submit nil,
          class: "w-full mt-3 mb-10 px-18 py-2 text-center rounded-lg bg-indigo-600 text-white font-semibold hover:bg-indigo-700 transition" %>
    </div>
  </div>
<% end %>
