<% content_for(:title, t('.title')) %>
  <div class="flex flex-col max-w-4xl mx-auto items-center p-4">
    <div class="w-full">
      <%= render 'search', q: @q, url: figures_path %>
    </div>
    <% if @figures.present? %>
      <div class="flex w-full justify-end pb-3">
        <%= render 'sort', q: @q, url: figures_path %>
      </div>
      <div class="w-full border rounded-lg divide-y">
        <%= render @figures %>
      </div>
    <% else %>
      <span><%= t(".no_data_available") %></span>
    <% end %>
    <div class="mt-4">
      <%= paginate @figures %>
    </div>
  </div>
