<footer  class="bg-gray-100 py-6">
  <!-- ページ遷移ナビゲーション -->
  <nav>
    <div class="w-full max-w-5xl mx-auto px-4 pb-6">
      <ul class="flex justify-center space-x-12 text-gray-600 text-sm">
        <li><%= link_to t("footer.how_to_use"), how_to_use_path, class: "hover:underline" %></li>
        <li class="flex flex-col space-y-3">
          <%= link_to t("footer.terms_of_service"), terms_of_service_path, class: "hover:underline" %>
          <%= link_to t("footer.privacy_policy"), privacy_policy_path, class: "hover:underline" %>
        </li>
        <li><%= link_to t("footer.contact"), contact_path, class: "hover:underline" %></li>
      </ul>
    </div>
  </nav>
  <div class=" text-center text-xs text-gray-500">
    <%= t("footer.copyright") %>
  </div>
</footer>