<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FCRW5BM3VE"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-FCRW5BM3VE');
    </script>

    <title><%= page_title(yield(:title)) %></title>
    
    <!-- OGP設定 -->
    <meta property="og:title" content="Figrune" />
    <meta property="og:description" content="将来の支払い・発売時期を一括管理し、フィギュアの予約・購入をより快適にします。" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://figrune-app.com/" />
    <meta property="og:image" content="<%= image_url('OGP.png') %>" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Figrune" />
    <meta name="twitter:description" content="将来の支払い・発売時期を一括管理し、フィギュアの予約・購入をより快適にします。" />
    <meta name="twitter:image" content="<%= image_url('OGP.png') %>" />

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <%= favicon_link_tag('favicon.ico') %>    
  </head>

  <body class="flex flex-col min-h-screen">
    <%= render 'shared/header' %>
    
    <div class="w-full max-w-4xl mx-auto px-4">
      <% flash.each do |key, message| %>
        <% if key == 'notice' %>
          <div role="status" class="border-2 bg-green-100 p-4 text-green-500">  
            <div class="font-semibold"><%= message %></div>
          </div>
        <% else %>
          <div role="alert" class="border-2 bg-red-100 p-4 text-red-500">
            <div class="font-semibold"><%= message %></div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="flex-grow">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
