<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  </head>

  <body>
    <%= render 'shared/header' %>

    <% flash.each do |key, message| %>
      <% if key == 'notice' %>
        <div role="alert" class="border-2 bg-green-100 p-4 text-green-500">
          <div class="flex items-start gap-3">    
            <div class="block flex-1 leading-tight font-semibold"><%= message %></div>
          </div>
        </div>
      <% else %>
        <div role="alert" class="border-2 bg-red-100 p-4 text-red-500">
          <div class="flex items-start gap-3">    
            <div class="block flex-1 leading-tight font-semibold"><%= message %></div>
          </div>
        </div>
      <% end %>
    <% end %>

    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
